entrypoint = "src/main/java/DaytimeServer.java"
hidden = [".gitignore", "out"]
run = "javac -d out src/main/java/*.java && java -cp out DaytimeServer localhost 1313"

[nix]
channel = "stable-25_05"

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdtls -data /tmp/jdtls-workspace"

